.title {
    text-align: center;
  }
  
  .button {
    text-align: center;
  }
  
  button {
    font-size: 16px;
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #008ba3;
  }