form {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  input {
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  button {
    padding: 0.5em;
    font-weight: bold;
    color: white;
    background-color: #0099ff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }